.header {
	width: 100%;
	}
	
.content {
	max-width: 800px;
	margin: 0 auto;
	}
	
.grid_100{
	width:100%;
	margin: 0;
	}
.grid_100:after{
	content: "";
	clear: both;
	}
	
.grid_25{
	width: 25%;
	margin: 0;
	float: left;
	}

.grid_60{
	width: 60%;
	margin: 0;
	float: left;
	}
	
.grid_40{
	width: 40%;
	margin: 0;
	float: left;
	}
	
.grid_40:after{
	content:"";
	clear: both;
	}
	
.grid_60:after{
	content: "";
	clear:both;
	}