@font-face { font-family: Din; src: url('../fonts/DINNeuzeitGroteskStd-BdCond.otf'); } 

.header{
	height: 30px;
	background-color: #000000;
	margin: 0;
	padding: 0;
	position: absolute;
	}
	
body{
font-family: "Din";
	height: 100%;
	background-color: white;
	position: relative;
	padding: 0;
	margin: 0;
	}
	
	p{
	font-family: "calibri";
	}
	
	.header {
	padding-top: 12px;
	background-color: #4299BE;

	
	}
	
.header ul li{
	display: inline;
	list-style-type: none;
	text-align: center;
}

.header ul {
	padding: 0;
	margin: 0;
	}

.header ul li a {
	margin: 0 auto;
	color: white;
		
	}
	
	.header a:hover {
		color: #FFAD5E;
	}

	
#application :after{
	clear: both;
	}